<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ja' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    <script>
      (function() {
        document.querySelectorAll('.email-link').forEach(function(el) {
          var user = el.getAttribute('data-user');
          var domain = el.getAttribute('data-domain');
          if (user && domain) {
            var address = user + '@' + domain;
            el.innerHTML = '<a href="mailto:' + address + '">' + address + '</a>';
          }
        });
      })();
    </script>
  </body>
</html>
